<%- include("../include/head") %>
<style>
  body{
  background: url("https://images.unsplash.com/photo-1541782678416-16977e3325d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
</style>
</head>
<body>
  <%- include("../include/nav") %> <%- include("../include/end") %>
  <div class="content">
    <h1>Welcome to IFixit</h1>
    <h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolorem
      quisquam incidunt molestiae accusamus inventore ex, sequi distinctio
      eligendi ipsam quam repellat tempore maiores praesentium vero adipisci
      nulla cumque voluptatum voluptatem iste totam at aliquid est harum. Hic
      ipsum consectetur iste at, vel nesciunt quibusdam? Iste, ipsa assumenda!
      Magni, ut.
    </h3>
    <br />
    <a class="get-started-btn" href="/signup">Get Started</a>
    <br />
  </div>
</body>
